# 21-2. 파이썬으로 DB 다루기

In [1]:
import sqlite3
print("뿅💛")

뿅💛

In [2]:
import os
db_path = 'sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
print(conn)

<sqlite3.Connection object at 0x7f0f0828e9d0>

In [3]:
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7f0f08043110>

In [4]:
# stocks이라는 이름의 테이블을 하나 생성합니다. 혹시 이미 생성되었다면 생략합니다. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks 테이블에 데이터를 하나 인서트합니다. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# 방금 인서트한 데이터를 조회해 봅니다.
c.execute("SELECT * FROM stocks")

# 조회된 내역을 커서를 통해 가져와 출력해 봅니다.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

sudo add-apt-repository -y ppa:linuxgndu/sqlitebrowser   
sudo apt-get update   
sudo apt-get install -y sqlitebrowser

In [5]:
conn.commit()   # commit()은 cursor의 메소드가 아니라 connection의 메소드입니다. 
print("뿅💛")

뿅💛

In [6]:
c.close()      # 먼저 커서를 닫은 후
conn.close()    # DB 연결을 닫아 줍니다.
print("뿅💛")

뿅💛

### DDL문으로 테이블 생성하기

In [9]:
import sqlite3
import os
db_path = 'sql_to_db/sqlite/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 도서대출내역")
c.execute("DROP TABLE IF EXISTS 도서대출내역2")
c.execute("DROP TABLE IF EXISTS 대출내역")
c.execute("DROP TABLE IF EXISTS 도서명")


#----- 1st table : 도서대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역 (ID varchar, 이름 varchar, 도서ID varchar, 대출일 varchar, 반납일 varchar)")
#- 생성(create)문 : 테이블명, 변수명, 변수타입을 지정

data = [('101','문강태','aaa','2020-06-01','2020-06-05'),
             ('101','문강태','ccc','2020-06-20','2020-06-25'),
             ('102','고문영','bbb','2020-06-01',None),
             ('102','고문영','ddd','2020-06-08',None),
             ('103','문상태','ccc','2020-06-01','2020-06-05'),
             ('104','강기둥',None,None,None)]
#- 입력할 데이터를 그대로 입력 (변수명 순서 기준대로)

c.executemany('INSERT INTO 도서대출내역 VALUES (?,?,?,?,?)', data)
#- 입력할 데이터를 실제 테이블에 insert하기
#-----------------------------------------------#


#----- 2nd table : 도서대출내역2 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역2 (ID varchar, 이름 varchar, 대출년월 varchar, 대출일수 varchar)")

data = [('101','문강태','2020-06','20일'),
             ('102','고문영','2020-06','10일'),
             ('103','문상태','2020-06','8일'),
             ('104','강기둥','2020-06','3일')]
c.executemany('INSERT INTO 도서대출내역2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : 대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 대출내역 (ID varchar, 이름 varchar, 도서ID varchar)")

data = [('101','문강태','aaa'),
             ('102','고문영','bbb'),
             ('102','고문영','fff'),
             ('103','문상태','ccc'),
             ('104','강기둥',None)]
c.executemany('INSERT INTO 대출내역 VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : 도서명 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서명 (도서ID varchar, 도서명 varchar)")

data = [('aaa','악몽을 먹고 자란 소년'),
             ('bbb','좀비아이'),
             ('ccc','공룡백과사전'),
             ('ddd','빨간구두'),
             ('eee','잠자는 숲속의 미녀')]

c.executemany('INSERT INTO 도서명 VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()
print("뿅💛")

뿅💛

In [10]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서명'):
  print(row)

('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

# 21-3. SQL (1) SQL의 기본

In [12]:
#- 참고 : 실제 조회를 해보시려면 아래처럼 쓰시면 됩니다.
#- c.execute() 괄호 안에 SQL문을 넣으시면 됩니다.

import os
db_path = 'sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서대출내역'):
  print(row)

#- ! 출력 시 'NULL' 대신 'None'으로 출력될 수 있으나 동일하게 이해하시면 됩니다.

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

In [17]:
query = 'SELECT 이름, 대출일, 반납일 FROM 도서대출내역 ORDER BY 대출일 DESC LIMIT 1;'
for row in c.execute(query):
  print(row)

('문강태', '2020-06-20', '2020-06-25')

In [18]:
query = 'SELECT 이름, COUNT(*) AS 대출건수 FROM 도서대출내역 GROUP BY 이름;'
for row in c.execute(query):
  print(row)

('강기둥', 1)
('고문영', 2)
('문강태', 2)
('문상태', 1)

# 21-4. SQL (2) Data Type

In [19]:
query = 'SELECT * FROM 도서대출내역2;'
for row in c.execute(query):
  print(row)

('101', '문강태', '2020-06', '20일')
('102', '고문영', '2020-06', '10일')
('103', '문상태', '2020-06', '8일')
('104', '강기둥', '2020-06', '3일')

In [20]:
for row in c.execute('pragma table_info(도서대출내역)'):
  print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, '이름', 'varchar', 0, None, 0)
(2, '도서ID', 'varchar', 0, None, 0)
(3, '대출일', 'varchar', 0, None, 0)
(4, '반납일', 'varchar', 0, None, 0)

In [21]:
query = 'SELECT *, SUBSTR(대출일수, 1, (length(대출일수)-1)) AS 대출일수_수정 FROM 도서대출내역2;'
for row in c.execute(query):
  print(row)

('101', '문강태', '2020-06', '20일', '20')
('102', '고문영', '2020-06', '10일', '10')
('103', '문상태', '2020-06', '8일', '8')
('104', '강기둥', '2020-06', '3일', '3')

In [22]:
query = 'SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 FROM 도서대출내역2 ;'
for row in c.execute(query):
  print(row)

('101', '문강태', '2020-06', '20일', 20)
('102', '고문영', '2020-06', '10일', 10)
('103', '문상태', '2020-06', '8일', 8)
('104', '강기둥', '2020-06', '3일', 3)

In [26]:
query = 'SELECT ID, 이름, 대출년월\
, AVG(CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT)) AS 대출일수_평균 \
FROM 도서대출내역2 \
GROUP BY 1,2,3;'

for row in c.execute(query):
  print(row)

('101', '문강태', '2020-06', 20.0)
('102', '고문영', '2020-06', 10.0)
('103', '문상태', '2020-06', 8.0)
('104', '강기둥', '2020-06', 3.0)

# 21-5. SQL (3) 다양한 조건으로 조회하기

In [25]:
query = 'SELECT * FROM 도서대출내역2 \
WHERE 이름 LIKE "문%" ;'
for row in c.execute(query):
    print(row)

('101', '문강태', '2020-06', '20일')
('103', '문상태', '2020-06', '8일')

In [32]:
query = 'SELECT * FROM 도서대출내역\
WHERE \
        대출일 >= "2020-06-01" \
AND 대출일 <= "2020-06-07" ;>'
for row in c.execute(query):
    print(row)

OperationalError: near ">=": syntax error

In [33]:
SELECT * FROM 도서대출내역
WHERE 
        대출일 BETWEEN "2020-06-01" AND "2020-06-07" ;

SyntaxError: invalid syntax (<ipython-input-33-62e727f6cc4b>, line 1)

In [34]:
SELECT *
, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 
FROM 도서대출내역2 
WHERE 
        대출일수_수정 > 5 ;

SyntaxError: invalid syntax (<ipython-input-34-51f3745f47c1>, line 1)

In [35]:
SELECT * FROM 도서대출내역
WHERE 반납일 IS NOT NULL;

SyntaxError: invalid syntax (<ipython-input-35-9605f0b52b2d>, line 1)

In [36]:
SELECT * FROM 도서대출내역
WHERE 반납일 IS NULL ;

SyntaxError: invalid syntax (<ipython-input-36-6baa4c021b0e>, line 1)

In [37]:
SELECT 이름
FROM 도서대출내역
WHERE 이름 LIKE "%태"
AND 대출일 >= "2020-06-19"
AND ID < 102
AND 반납일 IS NOT NULL

SyntaxError: invalid syntax (<ipython-input-37-a8adaded5212>, line 1)

# 21-6. SQL (4) SQL의 꽃, JOIN 수행하기

### INNER JOIN
SELECT A.*, B.도서명 
FROM 대출내역 AS A 
INNER JOIN 도서명 AS B
ON A.도서ID = B.도서ID

### left join
SELECT A.*, B.도서명 
FROM 대출내역 AS A 
LEFT JOIN 도서명 AS B
ON A.도서ID = B.도서ID

### right join
SELECT B.*, A.ID, A.이름 
FROM 대출내역 AS A 
RIGHT JOIN 도서명 AS B
ON A.도서ID = B.도서ID

### full join
SELECT A.*, B.도서명 
FROM 대출내역 AS A 
FULL OUTER JOIN 도서명 AS B
ON A.도서ID = B.도서ID
ORDER BY 도서ID ;

5) 중첩 질의(Nested Query)   
SELECT C.이름, COUNT(*) 대출건수   
FROM (   
    SELECT A.*, B.도서명    
    FROM 대출내역 AS A     
    LEFT JOIN 도서명 AS B   
    ON A.도서ID = B.도서ID ) C   
GROUP BY C.이름

6) 쿼리의 조건절(1) IFNULL   
SELECT A.*, IFNULL(B.도서명, '도서명미상') AS 도서명   
    FROM 대출내역 AS A    
    LEFT JOIN 도서명 AS B   
    ON A.도서ID = B.도서ID

6) 쿼리의 조건절(1) IFNULL case문   
SELECT A.*, CASE WHEN  B.도서명 IS NULL THEN '도서명미상' ELSE B.도서명 END   
FROM 대출내역 AS A   
LEFT JOIN 도서명 AS B   
ON A.도서ID = B.도서ID

6) 쿼리의 조건절(2) CASE   
SELECT 이름, CASE WHEN 대출일수_수정 > 5 THEN '기간초과' ELSE '기간내' END AS 대출기간   
FROM (   
SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정    
FROM 도서대출내역2 )

    SELECT A.도서ID, A.도서명,    
     CASE WHEN B.대출일 IS NULL THEN 0 ELSE 1 END AS 대출건수,   
     CASE WHEN B.반납일 IS NULL THEN 0 ELSE 1 END AS 반납건수   
    FROM 도서명 AS A    
    LEFT JOIN 도서대출내역 AS B