# 21-2. íŒŒì´ì¬ìœ¼ë¡œ DB ë‹¤ë£¨ê¸°

In [1]:
import sqlite3
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [2]:
import os
db_path = 'sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
print(conn)

<sqlite3.Connection object at 0x7f0f0828e9d0>

In [3]:
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7f0f08043110>

In [4]:
# stocksì´ë¼ëŠ” ì´ë¦„ì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ ìƒì„±í•©ë‹ˆë‹¤. í˜¹ì‹œ ì´ë¯¸ ìƒì„±ë˜ì—ˆë‹¤ë©´ ìƒëµí•©ë‹ˆë‹¤. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ í•˜ë‚˜ ì¸ì„œíŠ¸í•©ë‹ˆë‹¤. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# ë°©ê¸ˆ ì¸ì„œíŠ¸í•œ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ ë´…ë‹ˆë‹¤.
c.execute("SELECT * FROM stocks")

# ì¡°íšŒëœ ë‚´ì—­ì„ ì»¤ì„œë¥¼ í†µí•´ ê°€ì ¸ì™€ ì¶œë ¥í•´ ë´…ë‹ˆë‹¤.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

sudo add-apt-repository -y ppa:linuxgndu/sqlitebrowser   
sudo apt-get update   
sudo apt-get install -y sqlitebrowser

In [5]:
conn.commit()   # commit()ì€ cursorì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ connectionì˜ ë©”ì†Œë“œì…ë‹ˆë‹¤. 
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [6]:
c.close()      # ë¨¼ì € ì»¤ì„œë¥¼ ë‹«ì€ í›„
conn.close()    # DB ì—°ê²°ì„ ë‹«ì•„ ì¤ë‹ˆë‹¤.
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

### DDLë¬¸ìœ¼ë¡œ í…Œì´ë¸” ìƒì„±í•˜ê¸°

In [9]:
import sqlite3
import os
db_path = 'sql_to_db/sqlite/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! ì¬ì‹¤í–‰ ì‹œ í…Œì´ë¸”ì´ ì¡´ì¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì•„ë˜ì²˜ëŸ¼ í•´ë‹¹ í…Œì´ë¸”ë“¤ì„ ëª¨ë‘ ì§€ì›Œì¤ë‹ˆë‹¤.
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2")
c.execute("DROP TABLE IF EXISTS ëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëª…")


#----- 1st table : ë„ì„œëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar, ëŒ€ì¶œì¼ varchar, ë°˜ë‚©ì¼ varchar)")
#- ìƒì„±(create)ë¬¸ : í…Œì´ë¸”ëª…, ë³€ìˆ˜ëª…, ë³€ìˆ˜íƒ€ì…ì„ ì§€ì •

data = [('101','ë¬¸ê°•íƒœ','aaa','2020-06-01','2020-06-05'),
             ('101','ë¬¸ê°•íƒœ','ccc','2020-06-20','2020-06-25'),
             ('102','ê³ ë¬¸ì˜','bbb','2020-06-01',None),
             ('102','ê³ ë¬¸ì˜','ddd','2020-06-08',None),
             ('103','ë¬¸ìƒíƒœ','ccc','2020-06-01','2020-06-05'),
             ('104','ê°•ê¸°ë‘¥',None,None,None)]
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì…ë ¥ (ë³€ìˆ˜ëª… ìˆœì„œ ê¸°ì¤€ëŒ€ë¡œ)

c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­ VALUES (?,?,?,?,?)', data)
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ì‹¤ì œ í…Œì´ë¸”ì— insertí•˜ê¸°
#-----------------------------------------------#


#----- 2nd table : ë„ì„œëŒ€ì¶œë‚´ì—­2 -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2 (ID varchar, ì´ë¦„ varchar, ëŒ€ì¶œë…„ì›” varchar, ëŒ€ì¶œì¼ìˆ˜ varchar)")

data = [('101','ë¬¸ê°•íƒœ','2020-06','20ì¼'),
             ('102','ê³ ë¬¸ì˜','2020-06','10ì¼'),
             ('103','ë¬¸ìƒíƒœ','2020-06','8ì¼'),
             ('104','ê°•ê¸°ë‘¥','2020-06','3ì¼')]
c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : ëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar)")

data = [('101','ë¬¸ê°•íƒœ','aaa'),
             ('102','ê³ ë¬¸ì˜','bbb'),
             ('102','ê³ ë¬¸ì˜','fff'),
             ('103','ë¬¸ìƒíƒœ','ccc'),
             ('104','ê°•ê¸°ë‘¥',None)]
c.executemany('INSERT INTO ëŒ€ì¶œë‚´ì—­ VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : ë„ì„œëª… -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)")

data = [('aaa','ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„'),
             ('bbb','ì¢€ë¹„ì•„ì´'),
             ('ccc','ê³µë£¡ë°±ê³¼ì‚¬ì „'),
             ('ddd','ë¹¨ê°„êµ¬ë‘'),
             ('eee','ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')]

c.executemany('INSERT INTO ë„ì„œëª… VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [10]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëª…'):
  print(row)

('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('bbb', 'ì¢€ë¹„ì•„ì´')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('ddd', 'ë¹¨ê°„êµ¬ë‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')

# 21-3. SQL (1) SQLì˜ ê¸°ë³¸

In [12]:
#- ì°¸ê³  : ì‹¤ì œ ì¡°íšŒë¥¼ í•´ë³´ì‹œë ¤ë©´ ì•„ë˜ì²˜ëŸ¼ ì“°ì‹œë©´ ë©ë‹ˆë‹¤.
#- c.execute() ê´„í˜¸ ì•ˆì— SQLë¬¸ì„ ë„£ìœ¼ì‹œë©´ ë©ë‹ˆë‹¤.

import os
db_path = 'sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

#- ! ì¶œë ¥ ì‹œ 'NULL' ëŒ€ì‹  'None'ìœ¼ë¡œ ì¶œë ¥ë  ìˆ˜ ìˆìœ¼ë‚˜ ë™ì¼í•˜ê²Œ ì´í•´í•˜ì‹œë©´ ë©ë‹ˆë‹¤.

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

In [17]:
query = 'SELECT ì´ë¦„, ëŒ€ì¶œì¼, ë°˜ë‚©ì¼ FROM ë„ì„œëŒ€ì¶œë‚´ì—­ ORDER BY ëŒ€ì¶œì¼ DESC LIMIT 1;'
for row in c.execute(query):
  print(row)

('ë¬¸ê°•íƒœ', '2020-06-20', '2020-06-25')

In [18]:
query = 'SELECT ì´ë¦„, COUNT(*) AS ëŒ€ì¶œê±´ìˆ˜ FROM ë„ì„œëŒ€ì¶œë‚´ì—­ GROUP BY ì´ë¦„;'
for row in c.execute(query):
  print(row)

('ê°•ê¸°ë‘¥', 1)
('ê³ ë¬¸ì˜', 2)
('ë¬¸ê°•íƒœ', 2)
('ë¬¸ìƒíƒœ', 1)

# 21-4. SQL (2) Data Type

In [19]:
query = 'SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;'
for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼')
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼')
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼')
('104', 'ê°•ê¸°ë‘¥', '2020-06', '3ì¼')

In [20]:
for row in c.execute('pragma table_info(ë„ì„œëŒ€ì¶œë‚´ì—­)'):
  print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, 'ì´ë¦„', 'varchar', 0, None, 0)
(2, 'ë„ì„œID', 'varchar', 0, None, 0)
(3, 'ëŒ€ì¶œì¼', 'varchar', 0, None, 0)
(4, 'ë°˜ë‚©ì¼', 'varchar', 0, None, 0)

In [21]:
query = 'SELECT *, SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;'
for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼', '20')
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼', '10')
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼', '8')
('104', 'ê°•ê¸°ë‘¥', '2020-06', '3ì¼', '3')

In [22]:
query = 'SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 ;'
for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼', 20)
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼', 10)
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼', 8)
('104', 'ê°•ê¸°ë‘¥', '2020-06', '3ì¼', 3)

In [26]:
query = 'SELECT ID, ì´ë¦„, ëŒ€ì¶œë…„ì›”\
, AVG(CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT)) AS ëŒ€ì¶œì¼ìˆ˜_í‰ê·  \
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 \
GROUP BY 1,2,3;'

for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', 20.0)
('102', 'ê³ ë¬¸ì˜', '2020-06', 10.0)
('103', 'ë¬¸ìƒíƒœ', '2020-06', 8.0)
('104', 'ê°•ê¸°ë‘¥', '2020-06', 3.0)

# 21-5. SQL (3) ë‹¤ì–‘í•œ ì¡°ê±´ìœ¼ë¡œ ì¡°íšŒí•˜ê¸°

In [25]:
query = 'SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 \
WHERE ì´ë¦„ LIKE "ë¬¸%" ;'
for row in c.execute(query):
    print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼')
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼')

In [32]:
query = 'SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­\
WHERE \
        ëŒ€ì¶œì¼ >= "2020-06-01" \
AND ëŒ€ì¶œì¼ <= "2020-06-07" ;>'
for row in c.execute(query):
    print(row)

OperationalError: near ">=": syntax error

In [33]:
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE 
        ëŒ€ì¶œì¼ BETWEEN "2020-06-01" AND "2020-06-07" ;

SyntaxError: invalid syntax (<ipython-input-33-62e727f6cc4b>, line 1)

In [34]:
SELECT *
, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • 
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 
WHERE 
        ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 ;

SyntaxError: invalid syntax (<ipython-input-34-51f3745f47c1>, line 1)

In [35]:
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE ë°˜ë‚©ì¼ IS NOT NULL;

SyntaxError: invalid syntax (<ipython-input-35-9605f0b52b2d>, line 1)

In [36]:
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE ë°˜ë‚©ì¼ IS NULL ;

SyntaxError: invalid syntax (<ipython-input-36-6baa4c021b0e>, line 1)

In [37]:
SELECT ì´ë¦„
FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE ì´ë¦„ LIKE "%íƒœ"
AND ëŒ€ì¶œì¼ >= "2020-06-19"
AND ID < 102
AND ë°˜ë‚©ì¼ IS NOT NULL

SyntaxError: invalid syntax (<ipython-input-37-a8adaded5212>, line 1)

# 21-6. SQL (4) SQLì˜ ê½ƒ, JOIN ìˆ˜í–‰í•˜ê¸°

### INNER JOIN
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
INNER JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID

### left join
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
LEFT JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID

### right join
SELECT B.*, A.ID, A.ì´ë¦„ 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
RIGHT JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID

### full join
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
FULL OUTER JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID
ORDER BY ë„ì„œID ;

5) ì¤‘ì²© ì§ˆì˜(Nested Query)   
SELECT C.ì´ë¦„, COUNT(*) ëŒ€ì¶œê±´ìˆ˜   
FROM (   
    SELECT A.*, B.ë„ì„œëª…    
    FROM ëŒ€ì¶œë‚´ì—­ AS A     
    LEFT JOIN ë„ì„œëª… AS B   
    ON A.ë„ì„œID = B.ë„ì„œID ) C   
GROUP BY C.ì´ë¦„

6) ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ(1) IFNULL   
SELECT A.*, IFNULL(B.ë„ì„œëª…, 'ë„ì„œëª…ë¯¸ìƒ') AS ë„ì„œëª…   
    FROM ëŒ€ì¶œë‚´ì—­ AS A    
    LEFT JOIN ë„ì„œëª… AS B   
    ON A.ë„ì„œID = B.ë„ì„œID

6) ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ(1) IFNULL caseë¬¸   
SELECT A.*, CASE WHEN  B.ë„ì„œëª… IS NULL THEN 'ë„ì„œëª…ë¯¸ìƒ' ELSE B.ë„ì„œëª… END   
FROM ëŒ€ì¶œë‚´ì—­ AS A   
LEFT JOIN ë„ì„œëª… AS B   
ON A.ë„ì„œID = B.ë„ì„œID

6) ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ(2) CASE   
SELECT ì´ë¦„, CASE WHEN ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 THEN 'ê¸°ê°„ì´ˆê³¼' ELSE 'ê¸°ê°„ë‚´' END AS ëŒ€ì¶œê¸°ê°„   
FROM (   
SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì •    
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 )

    SELECT A.ë„ì„œID, A.ë„ì„œëª…,    
     CASE WHEN B.ëŒ€ì¶œì¼ IS NULL THEN 0 ELSE 1 END AS ëŒ€ì¶œê±´ìˆ˜,   
     CASE WHEN B.ë°˜ë‚©ì¼ IS NULL THEN 0 ELSE 1 END AS ë°˜ë‚©ê±´ìˆ˜   
    FROM ë„ì„œëª… AS A    
    LEFT JOIN ë„ì„œëŒ€ì¶œë‚´ì—­ AS B